.main {
    display: flex; 
    min-Height: 100vh; 
    max-Height: 100vh;
    background-color: rgb(0, 157, 196);
}

.column {
    flex: 1; 
    margin: 2%;
}

.messageArea
{
    position: absolute;
    top: 65%;
    width: 45%;
    color: rgb(255, 255, 255);
}

.input
{
    position: absolute;
    top: 90%;
    color: rgb(255, 255, 255);
}

.buttons
{
    position: absolute;
    top: 87%;
    width: 46%;
}

p 
{
    font-size: small;
    font-style: italic;
    margin: 0.5%;
    color: rgb(255, 255, 255);
}